﻿@using AdminPanel_Theme.BAL;
@{
    string name = CV.UserName();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminPanel_Theme</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminPanel_Theme.styles.css" asp-append-version="true" />

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Bootstrap Components &rsaquo; Buttons &mdash; Stisla</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/components.css">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
</head>
<body>

    <header>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                    </ul>
                </form>
                    <ul class="navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <img alt="image" src="~/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                                
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-divider"></div>
                                <form  asp-area="SEC_User" asp-controller="SEC_User" asp-action="Logout"  class="dropdown-item has-icon text-danger">
                                    <input type="submit" class="fas fa-sign-out-alt" value="Logout"/>
                                </form>
                            </div>
                        </li>
                    </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html">Admin</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="index.html">Ad</a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Admin</li>
                        <li class="dropdown active">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i><span>Location</span></a>
                            <ul class="dropdown-menu">
                                @* <li class=""><a class="nav-link" asp-area="Country" asp-controller="LOC_Country" asp-action="LOC_CountryList">Country</a></li> *@
                                <li class=""><a class="nav-link" asp-area="States" asp-controller="LOC_State" asp-action="LOC_StateList">State</a></li>
                                <li class=""><a class="nav-link" asp-area="City" asp-controller="LOC_City" asp-action="LOC_CityList">City</a></li>

                            </ul>
                        </li>
                            <li class="dropdown active">
                                <a href="#" class="nav-link has-dropdown"><i class="far fa-file-alt"></i><span>Universities</span></a>
                                <ul class="dropdown-menu">
                                    @* <li class=""><a class="nav-link" asp-area="Country" asp-controller="LOC_Country" asp-action="LOC_CountryList">Country</a></li> *@
                                    <li class=""><a class="nav-link" asp-area="FC_Program" asp-controller="FC_Program" asp-action="FC_ProgramList">Program</a></li>
                                    @* <li class=""><a class="nav-link" asp-area="City" asp-controller="LOC_City" asp-action="LOC_CityList">City</a></li> *@

                                </ul>
                            </li>
                        @* <li class="dropdown ">
                            <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i><span>Users</span></a>
                            <ul class="dropdown-menu">
                                <li class=""><a class="nav-link" asp-area="Branch" asp-controller="MST_Branch" asp-action="MST_BranchList">Branch</a></li> 
                                <li class=""><a class="nav-link" asp-area="Student" asp-controller="MST_Student" asp-action="MST_StudentList">Student</a></li>
                            </ul>
                        </li> *@
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    </header>

    <main id="main" class="main">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- General JS Scripts -->
    <script src="~/assets/modules/jquery.min.js"></script>
    <script src="~/assets/modules/popper.js"></script>
    <script src="~/assets/modules/tooltip.js"></script>
    <script src="~/assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/assets/modules/moment.min.js"></script>
    <script src="~/assets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="~/assets/modules/prism/prism.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/assets/js/page/bootstrap-modal.js"></script>

    <!-- Template JS File -->
    <script src="~/assets/js/scripts.js"></script>
    <script src="~/assets/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
