﻿@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
@using AdminPanel_Theme.Areas.SEC_User.Models;
@model SEC_UserModel
@* @if (TempData["Error"] != null)
{
    <div class="text-danger">@Html.Raw(TempData["Error"]) </div>
} *@
<div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">

        <div class="card card-primary">
            <div class="card-header"><h4>Login</h4></div>
            <div class="card-body">
                <form method="post" asp-area="SEC_User" asp-controller="SEC_User" asp-action="Login" class="needs-validation">
                    <div class="form-group">
                        <label for="email">UserName</label>
                        <input asp-for="UserName" type="text" class="form-control"  tabindex="1" >
                        <span asp-validation-for="UserName" class="text-danger"></span>

                        <div class="invalid-feedback">
                            Please fill in your UserName
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="d-block">
                            <label for="password" class="control-label">Password</label>
                            <div class="float-right">
                                <a href="auth-forgot-password.html" class="text-small">
                                    Forgot Password?
                                </a>
                            </div>
                        </div>
                        <input asp-for="Password" id="password" type="password" class="form-control" name="password" tabindex="2" required>
                        <span asp-validation-for="Password" class="text-danger"></span>

                        <div class="invalid-feedback">
                            please fill in your password
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit"  class="btn btn-primary btn-lg btn-block" tabindex="4">
                            Login
                        </button>
                    </div>
                </form>

            </div>
        </div>
        <div class="mt-5 text-muted text-center">
            Don't have an account? <a href="auth-register.html">Create One</a>
        </div>
        <div class="simple-footer">
            Copyright &copy; Jadooo 0000
        </div>
    </div>
</div>
@section Scripts {
    @{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/assets/js/page/modules-toastr.js"></script>
    }
}
