﻿@model IEnumerable<dynamic>
@{
    string identifierPropertyName = ViewData["IdentifierPropertyName"] as string;
    string controllerName = ViewData["ControllerName"] as string;
    string editActionName = ViewData["EditActionName"] as string;
    string deleteActionName = ViewData["DeleteActionName"] as string;
}

@if (Model != null && Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                @foreach (var propertyInfo in Model.First().GetType().GetProperties())
                {
                    <th scope="col">@propertyInfo.Name</th>
                }
                <th scope="col">Actions </th>
            </tr>
        </thead>
        <tbody id="sample_2">
            @foreach (var item in Model)
            {
                <tr>
                    @foreach (var propertyInfo in item.GetType().GetProperties())
                    {
                        <td>@propertyInfo.GetValue(item)</td>
                    }
                    <td>
                        <form method="post" id="myForm" asp-controller="@controllerName" asp-action="@deleteActionName">
                            <input type="hidden" id="itemId" name="@identifierPropertyName" value="@Convert.ToInt32(item.GetType().GetProperty(identifierPropertyName).GetValue(item))">
                            <a class="btn btn-icon btn-primary mr-2" asp-controller="@controllerName" asp-action="@editActionName" asp-route-@identifierPropertyName="@Convert.ToInt32(item.GetType().GetProperty(identifierPropertyName).GetValue(item))">
                                <i class="far fa-edit"></i>
                            </a>
                            <button type="submit" id="submitButton" class="btn btn-icon btn-danger delete-button" data-confirm="Really?|Do you want to Delete?" data-confirm-yes="f1(@Convert.ToInt32(item.GetType().GetProperty(identifierPropertyName).GetValue(item)));">
                                <i class="fas fa-times"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available.</p>
}
