﻿@using AdminPanel_Theme.Areas.States.Models;
@model LOC_StateModel
@{
    ViewData["Title"] = "ADD/Edit  State";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>ADD /EDIT States</h1>
        </div>
        <form method="post" asp-area="States" asp-controller="LOC_State" asp-action="AddEditState">
            @Html.HiddenFor(x=>x.StateID)
            <div class="section-body">
                <h2 class="section-title">States</h2>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <div class="card">
                            <form>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>State Name</label>
                                        <input type="text" class="form-control" asp-for="StateName" />
                                        <span asp-validation-for="StateName" class="text-danger"></span>

                                    </div>
                                    <div class="form-group">
                                        <label>State Code </label>
                                        <input type="text" class="form-control" asp-for="StateCode" />
                                        <span asp-validation-for="StateCode" class="text-danger"></span>
                                    </div>
                     @*                <div class="form-group">
                                        <label>jQuery Selectric</label>
                                        <select class="form-control selectric">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                            <option>Option 5</option>
                                            <option>Option 6</option>
                                        </select>
                                    </div> *@
                                    <div class="card-footer text-right">
                                        <a asp-area="States" asp-controller="LOC_State" asp-action="LOC_StateList" class="btn btn-light">Back</a>
                                        <button class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/assets/js/page/bootstrap-modal.js"></script>
    <script src="~/assets/modules/cleave-js/dist/cleave.min.js"></script>
    <script src="~/assets/modules/cleave-js/dist/addons/cleave-phone.us.js"></script>
    <script src="~/assets/modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
    <script src="~/assets/modules/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/assets/modules/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/modules/jquery-selectric/jquery.selectric.min.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/assets/js/page/forms-advanced-forms.js"></script>
}