﻿@using System.Data;
@using AdminPanel_Theme.Areas.States.Models;
@{
    ViewData["Title"] = "States List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* <div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>PROGRAM</h1>
        </div>
        @Html.Partial("~/Areas/YourAreaName/Views/Shared/_DataTablePartial.cshtml")
    </section>
</div> *@


<div class="main-content">
    @Html.PartialAsync("~/Areas/YourAreaName/Views/Shared/_DataTablePartial.cshtml", Model, ViewDataDictionary(ViewData){{ "IdentifierPropertyName", "ProgramID" }, { "ControllerName", "FC_Program" }, { "EditActionName", "Add" }, { "DeleteActionName", "Delete" } });
    @* @Html.RenderPartialAsync("~/Areas/YourAreaName/Views/Shared/_DataTablePartial.cshtml", Model, new ViewDataDictionary(ViewData)({ { "hourlydata", 0 } })); *@
    <section class="section">
        <div class="section-header">
            <h1>STATES</h1>
        </div>
        <div class="container-fluid border border-dark p-4">
            <form class="row">
                <div><h3>Filter</h3></div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-6">
                    <input type="text" placeholder="StateName     Or      StateCode" class="form-control mt-2" id="inputAddress">
                </div>
                <div class="col-10 my-3">
                    <form>
                        <button type="submit" class="btn btn-danger" runat="server" OnClientClick="this.form.reset();return false;">clear</button>
                    </form>
                </div>
            </form>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="section-title mt-0">States List</div>
                    </div>
                    <form class="col-6 mb-3">
                        <div class="card-header-action">
                            <input type="submit" class="btn btn-primary " value="ADD " asp-action="Add" asp-controller="LOC_State" asp-area="States">
                        </div>
                    </form>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">StateName</th>
                            <th scope="col">StateCode</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="sample_2">
                        @foreach (DataRow dr in Model.Rows)
                        {
                            <tr>
                                <td>@dr["StateName"]</td>
                                <td>@dr["StateCode"]</td>
                                <td>
                                    <form method="post" id="myForm" asp-area="States" asp-controller="LOC_State" asp-action="Delete">
                                        <input type="hidden" id="itemId" name="StateID" value="@Convert.ToInt32(dr["StateID"])">
                                        <a class="btn btn-icon btn-primary mr-2" asp-area="States" asp-controller="LOC_State" asp-action="Add" asp-route-stateid="@Convert.ToInt32(dr["StateID"])"><i class="far fa-edit"></i></a>
                                        <button type="submit" class="btn btn-icon btn-danger delete-button" data-confirm="Really?|Do you want to Delete?" data-confirm-yes="f1(@Convert.ToInt32(dr["StateID"]));"><i class="fas fa-times"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <!-- General JS Scripts -->
    <script src="~/assets/modules/jquery.min.js"></script>
    <script src="~/assets/modules/popper.js"></script>
    <script src="~/assets/modules/tooltip.js"></script>
    <script src="~/assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/assets/modules/moment.min.js"></script>
    <script src="~/assets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="~/assets/modules/prism/prism.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/assets/js/page/bootstrap-modal.js"></script>
    <script src="~/assets/js/page/modules-sweetalert.js"></script>


    <!-- Template JS File -->
    <script src="~/assets/js/scripts.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/modules/sweetalert/sweetalert.min.js"></script>

    <script>
        function f1(itemId) {
            document.getElementById("itemId").value = itemId;
            document.getElementById("myForm").submit();
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#inputAddress").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}