﻿@using AdminPanel_Theme.Areas.City.Models;
@model LOC_CityModel
@{
    ViewData["Title"] = "ADD/Edit  City";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>ADD /EDIT City</h1>
        </div>
        <form method="post" asp-area="City" asp-controller="LOC_City" asp-action="AddEditCity">
            @Html.HiddenFor(x=>x.CityID)
            <div class="section-body">
                <h2 class="section-title">City</h2>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <div class="card">  
                            <form>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Select State</label>
                                        <select class="form-control" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">
                                            <option disabled selected>Select State</option>
                                        </select>
                                        <span asp-validation-for="StateID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>City Name</label>
                                        <input type="text" class="form-control" asp-for="CityName" />
                                        <span asp-validation-for="CityName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>City Code </label>
                                        <input type="text" class="form-control" asp-for="CityCode" />
                                        <span asp-validation-for="CityCode" class="text-danger"></span>
                                    </div>

                                    <div class="card-footer text-right">
                                        <a asp-area="City" asp-controller="LOC_City" asp-action="LOC_CityList" class="btn btn-light">Back</a>
                                        <button class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/assets/js/page/bootstrap-modal.js"></script>
    <script src="~/assets/modules/cleave-js/dist/cleave.min.js"></script>
    <script src="~/assets/modules/cleave-js/dist/addons/cleave-phone.us.js"></script>
    <script src="~/assets/modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
    <script src="~/assets/modules/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/assets/modules/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/modules/jquery-selectric/jquery.selectric.min.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/assets/js/page/forms-advanced-forms.js"></script>
    <script>
        function fnOnStateChange() {
            var CountryID = $("#CountryID").val();
            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax( 
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByCountryForState", "LOC_City")" + "?&CountryID=" + CountryID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                });
                        },
                        error: function (r) {
                            alert("Error while loading combobox.");
                        }
                    });
            } else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }
    </script>
}