﻿@using System.Data;
@using AdminPanel_Theme.Areas.City.Models;
@{
    ViewData["Title"] = "City List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // LOC_CityFilterModel FilterModel = new LOC_CityFilterModel();
}
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>CITY</h1>
        </div>

        <div class="container-fluid border border-dark p-4">
            <form class="row">
                <div><h3>Filter</h3></div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-6">
                    <input type="text" placeholder="CityName     Or    CityCode    Or     StateName" class="form-control mt-2" id="inputAddress_0">
                </div>

@*                 <div class="col-6">
                    <input type="text" placeholder="Citycode" class="form-control mt-2" id="inputaddress_">
                </div>
 *@
                <div class="col-10 my-3">
                    <form>
                        <button type="submit" class="btn btn-danger" runat="server" OnClientClick="this.form.reset();return false;">clear</button>
                    </form>
                </div>
            </form>
        </div>
        @* <div class="container-fluid border border-dark p-4">
            <form class="row">
                <div>
                    <h2>Filter</h2>
                </div>
                <div class="col-3">
                    <select class="form-control" asp-for="@FilterModel.CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                        <option value="">Select Country</option>
                    </select>
                </div>
                <div class="col-3">
                    <select class="form-control" asp-for="@FilterModel.StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">
                        <option value="">Select State</option>
                    </select>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" asp-for="@FilterModel.CityName" placeholder="CityName" />
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" asp-for="@FilterModel.CityCode" placeholder="CityCode" />
                </div>
                <div class="col-1 my-3 me-3">
                    <button class="btn btn-primary" type="submit" asp-area="City" asp-controller="LOC_City" asp-action="LOC_CityFilter">Search</button>
                </div>

                <div class="col-10 my-3">
                    <form>
                        <button class="btn btn-danger" type="submit" runat="server" OnClientClick="this.form.reset();return false;">Clear</button>
                    </form>
                </div>
            </form>
        </div> *@
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="section-title mt-0">City List</div>
                    </div>
                    <form class="col-6 mb-3">
                        <div class="card-header-action">
                            <input type="submit" class="btn btn-primary " value="ADD " asp-action="Add" asp-controller="LOC_City" asp-area="City">
                        </div>
                    </form>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">CityName </th>
                            <th scope="col">CityCode </th>
                            <th scope="col">StateName</th>
                            <th scope="col">Created </th>
                        </tr>
                    </thead>
                    <tbody id="sample_2">
                        @foreach (DataRow dr in Model.Rows)
                        {
                            <tr>
                                <td>@dr["CityName"]</td>
                                <td>@dr["CityCode"]</td>
                                <td>@dr["StateName"]</td>
                                <td>
                                    <form method="post" asp-area="City" id="myForm" asp-controller="LOC_City" asp-action="Delete">
                                        <input type="hidden" id="itemId" name="CityID" value="@Convert.ToInt32(dr["CityID"])">
                                        <a class="btn btn-icon btn-primary mr-2" asp-area="City" asp-controller="LOC_City" asp-action="Add" asp-route-cityid="@Convert.ToInt32(dr["CityID"])"><i class="far fa-edit"></i></a>
                                        <button type="submit" class="btn btn-icon btn-danger delete-button" data-confirm="Really?|Do you want to Delete?" data-confirm-yes="f1(@Convert.ToInt32(dr["CityID"]));"><i class="fas fa-times"></i></button>

                                    </form>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
@section Scripts{
    <!-- General JS Scripts -->
    <script src="~/assets/modules/jquery.min.js"></script>
    <script src="~/assets/modules/popper.js"></script>
    <script src="~/assets/modules/tooltip.js"></script>
    <script src="~/assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/assets/modules/moment.min.js"></script>
    <script src="~/assets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="~/assets/modules/prism/prism.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/assets/js/page/bootstrap-modal.js"></script>
    <script src="~/assets/js/page/modules-sweetalert.js"></script>


    <!-- Template JS File -->
    <script src="~/assets/js/scripts.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/modules/sweetalert/sweetalert.min.js"></script>

    <script>
        function f1(itemId) {
            document.getElementById("itemId").value = itemId;
            document.getElementById("myForm").submit();
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#inputAddress_0").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
@*     <script>
        $(document).ready(function () {
            $("#inputaddress_").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script> *@


}