﻿@using AdminPanel_Theme.Areas.Country.Models;
@model LOC_CountryModel
@{
    ViewData["Title"] = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>ADD /EDIT COUNTRY</h1>
        </div>
        <form method="post" asp-area="Country" asp-controller="LOC_Country" asp-action="AddEditCountry">
            @Html.HiddenFor(x=>x.CountryID)
            <div class="section-body">
                <h2 class="section-title">Country</h2>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <div class="card">
                            <form>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Country Name</label>
                                        <input type="text" class="form-control" asp-for="CountryName" />
                                        <span asp-validation-for="CountryName" class="text-danger"></span>

                                    </div>
                                    <div class="form-group">
                                        <label>Country Code</label>
                                        <input type="text" class="form-control" asp-for="CountryCode" />
                                        <span asp-validation-for="CountryCode" class="text-danger"></span>  
                                    </div>
                                    <div class="card-footer text-right">
                                        <a asp-area="Country" asp-controller="LOC_Country" asp-action="LOC_CountryList" class="btn btn-light">Back</a>
                                        <button class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/assets/js/page/bootstrap-modal.js"></script>
}