﻿@using System.Data;
@using AdminPanel_Theme.Areas.Country.Models;
@model DataTable
@{
    ViewData["Title"] = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    LOC_CountryFilterModel filterModel = new LOC_CountryFilterModel();
}


<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>COUNTRY</h1>
        </div>

        @* <div class="container-fluid border border-dark p-4">
            <form class="row">
                <div><h3>Filter</h3></div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-6">
                    <lable class="form-label">Select CountryName</lable>
                    <input type="text" placeholder="Select CountryName" asp-for="@filterModel.CountryName" class="form-control mt-2" id="inputAddress">
                </div>
                <div class="col-6">
                    <lable class="form-label">Select CountryCode</lable>
                    <input type="text" placeholder="Select CountryCode" asp-for="@filterModel.CountryCode" class="form-control mt-2" id="inputAddress">
                </div>
                <div class="col-1 my-3 me-3">
                    <button type="submit" class="btn btn-primary" asp-area="Country" asp-controller="LOC_Country" asp-action="LOC_CountryFilter">
                        Search
                    </button>
                </div>

                <div class="col-10 my-3">
                    <form>
                        <button type="submit" class="btn btn-danger" runat="server" OnClientClick="this.form.reset();return false;">clear</button>
                    </form>
                </div>
            </form>
        </div> *@
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="section-title mt-0">Country List</div>
                    </div>
                    <form class="col-6 mb-3">
                        <div class="card-header-action">
                            <input type="submit" class="btn btn-primary " value="ADD " asp-action="Add" asp-controller="LOC_Country" asp-area="Country">
                        </div>
                    </form>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">CountryName</th>
                            <th scope="col">CountryCode</th>
                            <th scope="col">Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow dr in Model.Rows)
                        {
                            <tr>
                                <td>@dr["CountryName"]</td>
                                <td>@dr["CountryCode"]</td>
                                <td>
                                    <form method="post" id="myForm" asp-controller="LOC_Country" asp-action="Delete">
                                        <input type="hidden" id="itemId" name="CountryID" value="@Convert.ToInt32(dr["CountryID"])">
                                        <a class="btn btn-icon btn-primary mr-2" asp-controller="LOC_Country" asp-action="Add" asp-route-countryid="@Convert.ToInt32(dr["CountryID"])"><i class="far fa-edit"></i></a>
                                        <button type="submit" id="submitButton" class="btn btn-icon btn-danger delete-button" data-confirm="Really?|Do you want to Delete?" data-confirm-yes="f1(@Convert.ToInt32(dr["CountryID"]));">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <!-- General JS Scripts -->
    <script src="~/assets/modules/jquery.min.js"></script>
    <script src="~/assets/modules/popper.js"></script>
    <script src="~/assets/modules/tooltip.js"></script>
    <script src="~/assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/assets/modules/moment.min.js"></script>
    <script src="~/assets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="~/assets/modules/prism/prism.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/assets/js/page/bootstrap-modal.js"></script>
    <script src="~/assets/js/page/modules-sweetalert.js"></script>


    <!-- Template JS File -->
    <script src="~/assets/js/scripts.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/modules/sweetalert/sweetalert.min.js"></script>

    <script>
        function f1(itemId){
            document.getElementById("itemId").value = itemId;
             document.getElementById("myForm").submit();
        }
    </script>
}