﻿@using AdminPanel_Theme.Areas.FC_Program.Models;
@model FC_ProgramModel
@{
    ViewData["Title"] = "ADD/Edit  Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>ADD / EDIT Programs</h1>
        </div>
        <form method="post" asp-area="FC_Program" asp-controller="FC_Program" asp-action="AddEditProgram">
            @Html.HiddenFor(x => x.ProgramID)
            <div class="section-body">
                <h2 class="section-title">Program</h2>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <div class="card">
                            <form>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Program Full Name</label>
                                        <input type="text" class="form-control" asp-for="ProgramFullName" />
                                        <span asp-validation-for="ProgramFullName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Program Short Name</label>
                                        <input type="text" class="form-control" asp-for="ProgramShortName" />
                                        <span asp-validation-for="ProgramShortName" class="text-danger"></span>
                                    </div>
                                    <!-- Add additional fields as needed -->

                                    <div class="card-footer text-right">
                                        <a asp-area="FC_Program" asp-controller="FC_Program" asp-action="FC_ProgramList" class="btn btn-light">Back</a>
                                        <button class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/assets/js/page/bootstrap-modal.js"></script>
    <script src="~/assets/modules/cleave-js/dist/cleave.min.js"></script>
    <script src="~/assets/modules/cleave-js/dist/addons/cleave-phone.us.js"></script>
    <script src="~/assets/modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
    <script src="~/assets/modules/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/assets/modules/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/modules/jquery-selectric/jquery.selectric.min.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/assets/js/page/forms-advanced-forms.js"></script>
}